{{ define "EditBlog" }}
{{ if eq .Blog.Title "" }}
<div class="py-10 px-20 flex h-screen justify-center items-center self-center w-full">
    <h1 class="font-bold text-4xl">
        <span class="text-red-500">Blog </span><span class="text-yellow-300">Not</span> <span class="text-green-500">Found</span>
    </h1>
</div>
{{ else }}
<div class="p-20 h-screen">
    <div class="border border-blue-500 px-10 py-10 rounded-lg">
        <h1 class="text-yellow-400 font-semibold text-3xl">Edit your blog!</h1>
        <div class="h-[1px] bg-red-500 mb-5"></div>
        <form action="" hx-put="/blogs/{{ .Blog.ID }}" hx-target="body" hx-swap="outerHMTL" hx-push-url="true" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title">Title</label>
                <input type="text" name="title" class="block border border-blue-500 rounded-md px-1 py-2 w-full" value="{{ .Blog.Title }}">
            </div>
            <div class="mb-3">
                <label for="image">Image</label>
                <input type="file" name="image_file" class="block border border-blue-500 w-full cursor-pointer file:px-2 file:py-2 file:bg-green-500 file:text-white file:border-none rounded-md">
            </div>
            <input type="hidden" value="{{ .Blog.ImageLink }}" name="image_link">
            <div class="mb-3">
                <label for="slug">Content</label>
                <textarea name="content" id="" class="resize-none block border border-blue-500 rounded-md px-1 py-2 w-full" rows="5" cols="50">{{ .Blog.Content }}</textarea>
            </div>
            <div>
                <button class="bg-green-500 text-white px-2 py-2 rounded-md w-full border border-green-500 hover:bg-white duration-300 ease-in-out hover:text-green-500">Update</button>
            </div>
        </form>
    </div>
</div>
{{ end }}
{{ end }}