{{ define "ShowBlog" }}
{{ if eq .Blog.Title "" }}
<div class="py-10 px-20 flex h-screen justify-center items-center self-center w-full">
    <h1 class="font-bold text-4xl">
        <span class="text-red-500">Blog </span><span class="text-yellow-300">Not</span> <span class="text-green-500">Found</span>
    </h1>
</div>
{{ else }}
<div class="my-5 mx-10 py-5 px-10 border border-green-500 rounded-md min-h-96">
    <div class="max-h-[500px] mb-5 flex justify-center">
        <img src="{{ .Blog.ImageLink }}" alt="" class="max-h-[500px]">
    </div>
    {{ template "Alert" dict "ResQuery" .ResQuery }}
    <h1 class="text-5xl font-bold mb-5">{{ .Blog.Title }}</h1>
    <p class="text-xl text-justify mb-5 break-all">
        {{ .Blog.Content }}
    </p>
</div>
<div class="flex gap-x-10 mx-10 px-10 mb-5">
    <a class="w-1/2 bg-blue-500 text-center py-2 text-white rounded-lg hover:bg-white hover:text-blue-500 duration-300 ease-in-out border border-blue-500" href="/blogs/edit/{{ .Blog.ID }}">
        Edit 
    </a>
    <form class="w-1/2 bg-red-500 text-center py-2 text-white cursor-pointer rounded-lg hover:bg-white hover:text-red-500 duration-300 ease-in-out border border-red-500" hx-delete="/blogs/{{ .Blog.ID }}" hx-target="body" hx-swap="outerHMTL" hx-push-url="true" enctype="multipart/form-data">
        <input type="hidden" value="{{ .Blog.ImageLink }}" name="image_link">
        <button class="w-full">Delete</button>
    </form>
</div>
{{ end }}
{{ end }}