{{ define "Footer" }}
<footer class="bg-blue-500 w-full flex justify-between py-5 px-20 items-center">
    <h1 class="text-white font-semibold">Made with ❤️ by Your Coolest Mentor</h1>
    <div class="text-white flex items-center ml-auto space-x-2">
        <h1>Connect with me on </h1>
        <a href="https://github.com/devanfer02" target="_blank">
            <iconify-icon icon="mdi:github" class="text-3xl"></iconify-icon>
        </a>
        <a href="https://www.linkedin.com/in/dvnnfrr/" target="_blank">
            <iconify-icon icon="mdi:linkedin" class="text-3xl"></iconify-icon>
        </a>
    </div>
</footer>
{{ end }}