{{ define "Home" }}
<div class="">
    <div class="flex justify-center items-center bg-cover bg-center h-screen" style="background-image: url('/static/assets/blog.jpg');">
        <h1 class="absolute text-white text-5xl font-bold pb-20">
            Welcome to <span class="text-blue-400">HTMX</span> <span class="text-red-500">Go</span> <span class="text-yellow-300">Blog</span> <span class="text-green-500">App</span>
        </h1>
    </div>
    <div class="flex">
        <div class="w-1/2 bg-green-500 flex items-center justify-center">
            <h1 class="text-white text-5xl font-bold">Hai 👋</h1>
        </div>
        <div class="px-5 py-10 w-1/2">
            <h1 class="text-4xl font-bold text-center"><span class="text-red-500">About</span> <span class="text-yellow-300">Us</span></h1>
            <div class="flex justify-center items-center">
                <div class="max-w-[500px] ">
                    <p class="text-justify">
                        Welcome to HTMX Go Blog App — a space for sharing insights, stories, and expertise. Our mission is to connect readers with inspiring content across a variety of topics, from technology and lifestyle to personal growth and creativity. Our team of dedicated writers and enthusiasts is passionate about delivering quality content that informs, inspires, and engages. We believe in the power of storytelling and aim to create a platform where voices from all walks of life can be heard. Join us as we explore new ideas, share knowledge, and build a community of curious minds.
                    </p>
                    <p>
                        Happy reading!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}